<% if element.class == Pot %>
  <% pot_picture = element.photo.url.nil? ? element.plant.photo : element.photo %>
<% else %>
  <% pot_picture = element.photo %>
<% end %>

  <div class="frame grow" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%), url('<%= cl_image_path(pot_picture) %>');">
    <% if element.class == Pot %>
      <div class="status-icons">
        <i class="fas fa-tint"></i>
        <i class="fas fa-sun"></i>
        <i class="fas fa-leaf"></i>
        <i class="fas fa-cut"></i>
        <i class="fas fa-snowflake"></i>
      </div>
    <% end %>
    <div class="element-details">
      <% if element.class == Pot %>
        <div class="element-name uppercase">
          <h4><%= element.name %></h4>
        </div>
        <div class="element-category">
          <%= element.plant.name %>
        </div>
      <% else %>
        <div id="element-name uppercase">
            <h4><%= element.name %></h4>
        </div>
        <div id="element-category">
          <%= element.category if element.category != nil %>
        </div>
      <% end %>
    </div>
  </div>

