<div class="navbar-potify">

    <!-- Search Bar & Discover button -->

  <div class="navbar-logo">
      <%= link_to root_path do %>
 <h1>potify</h1>
   <% end %>
    </div>

  <!-- Right Navigation -->
  <div class="navbar-right">
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="links">
        <div class="item-border-green">
          <%= link_to "ADD A PLANT", new_pot_path, class: "link-border-green item-border-green" %>
        </div>
        <div class="item-border-green">
          <%= link_to "MY GARDEN", dashboard_path, class: "link-border-green item-border-green" %>
          <% if current_user && current_user.tasks.where(completed: false).size > 0 %>
            <div id="badge-container">
              <%= render "shared/navbar_badge" %>
            </div>
          <% end %>
        </div>
        <div class="item-border-green">
          <%= link_to "DISCOVER", plants_path, class: "link-border-green item-border-green" %>
        </div>
        </div>
      </div>


      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if user_signed_in? %>
          <!-- Avatar with dropdown menu -->
            <div class="dropdown">
              <%= cl_image_tag(current_user.photo, class: "avatar dropdown-toggle", id: "navbar-potify-menu", "data-toggle" => "dropdown") %>
              <ul class="dropdown-menu dropdown-menu-right navbar-potify-dropdown-menu">
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
        <% else %>
          <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-potify-link btn btn-yellow" %>
        <% end %>
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "My garden", dashboard_path %></li>
          <li><%= link_to "Add a plant", new_pot_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

