<div class="navbar-potify">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-potify-brand" do %>
    <h1 class="navbar-potify-brand">potify</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-potify-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Discover", "#", class: "navbar-potify-item navbar-potify-link" %>
      <%= link_to "My garden", "#", class: "navbar-potify-item navbar-potify-link" %>
      <%= link_to "Add a plant", "#", class: "navbar-potify-item navbar-potify-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-potify-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-potify-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-potify-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-potify-item navbar-potify-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-potify-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-potify-dropdown-menu">
        <li><a href="#">Discover</a></li>
        <li><a href="#">My garden</a></li>
        <li><a href="#">Add a plant</a></li>
      </ul>
    </div>
  </div>
</div>

