<!-- gather all the pots needing to perform the task
tasks
task.pot -->
<div>
  <h3><%= task_name %></h3>
  <% tasks.each do |task| %>
    <div>
      <!-- <p>Hey, give <%#= task.pot.name %> <%#= task.pot.plant.send("#{task.name}_quantity")%></p> -->
      <p><%= task.pot.name.capitalize %></p>
      <%= cl_image_tag(task.pot.photo) %>
      <div class="task-description">
          <%= simple_form_for(task, :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
            <div class="task-content" data-points="<%= task.points %>">
              <table class="task-position">
                <tr>
                  <td>
                    <div class="status">
                      <%= f.input :completed, label: "  I did it" %>
                      <%= f.submit :update, class: "hidden submit-task" %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
