
  <div class="container-task">
    <div class="task-card">
      <% element.tasks.each do |task| %>
       <% if element.incomplete_task(task.name) %>
        <h2><%= task.name.upcase %></h2>
        <div class="task-card-by-plant">
          <div class="task-instruction">
            <p>🤟 Hey, give <span="plant-integer"><%= task.pot.plant.watering_quantity %></span> cl to <span="plant-name"><%= element.name%></span></p>
          </div>
          <div class="task-pot">
            <!-- render avatar -->
          </div>
        </div>

          <%= simple_form_for(element.incomplete_task(task.name), :defaults => { :input_html => { :class => "sweet-alert-demo"} }, remote: true) do |f| %>
          <div class="task-content" data-points="<%= task.points %>">
            <% if params["action"] == "dashboard" %>
            <% end %>
              <!-- <table class="task-position">
                <tr>
                  <td>
                    <div class="description">
                      <p>By <%= task.name %> you take care of your plant</p>
                    </div>
                  </td>
                  <td>
                    <div class="status">
                      <%= f.input :completed, label: "  I did it" %>
                      <%= f.submit :update, class: "hidden submit-task" %>
                    </div>
                  </td>
                </tr>
              </table> -->
          </div>
           <% end %>
      </div>
    <% end%>
  <% end %>
  </div>
</div>
