<% tasks.each do |task| %>
  <div class="card-task" id="update-card">
    <%= simple_form_for(task, remote: true) do |f| %>
      <div class="card-item grow" data-points="<%= task.points %>" >
        <%= f.submit :update, class: " hidden submit-task sweet-alert-demo" %>
        <%= cl_image_tag(task.pot.photo, class: 'plant-avatar') %>
        <% if task.name == "watering" || task.name == "fertilizing" %>
          <p> Hey, give <span class='plant-quantity'><%= task.pot.plant.send("#{task.name}_quantity") %></span><br>to <span class='pot-name'><%= task.pot.name.capitalize %></span></p>
        <% else %>
          <p> Hey, <span class='pot-name'><%= task.pot.name.capitalize %></span> needs <%= task.name %><br> </p>
        <% end %>
            <%#= f.input :completed, label: "  I did it" %>

        <%#= image_tag "picto-check.svg", class: 'task-picto' %>
      </div>
    <% end %>
  </div>
<% end %>


