<% tasks.each do |task| %>
  <div class="card-task" id="update-card">
    <%= simple_form_for(task, remote: true) do |f| %>
      <div class="card-item grow" data-points="<%= task.points %>" >
        <%= f.submit :update, class: " hidden submit-task sweet-alert-demo" %>
        <%= cl_image_tag(task.pot.photo, class: 'plant-avatar') %>
        <p> Hey, give <span class='plant-quantity'>10cl</span><br>to <span class='pot-name'><%= task.pot.name.capitalize %></span></p>
            <%#= f.input :completed, label: "  I did it" %>

        <%#= image_tag "picto-check.svg", class: 'task-picto' %>
      </div>
    <% end %>
  </div>
<% end %>


