<div class="pot-content">
  <% pot_picture = pot.photo.url.nil? ? pot.plant.photo : pot.photo %>
  <div class="pot-image"
    style="background-image: url('<%= cl_image_path(pot_picture) %>')">
  </div>
  <div class="pot-info">
    <h3><%= pot.name %></h3>
    <p><i><%= pot.description %></i></p>
    <p>Family: <%= pot.plant.name %></p>
    <% unless pot.adoption_date.nil? %>
      <p>You adopted <%= pot.name %> on <%= pot.adoption_date.strftime("%b %d, %Y"); %></p>
    <% end %>
    <div class="pot-tasks">
      <%= render "shared/task", element: pot %>
    </div>

    <%= link_to "MY GARDEN", dashboard_path, class: "link-border-green item-border-green" %>
    <%= link_to "My plant is dead", pot_path(pot), method: :delete, data: { confirm: "Are you sure?" }, class: "link-border-green item-border-green" %>
  </div>
</div>
