<div class="pot-content">
  <% pot_picture = pot.photo.url.nil? ? pot.plant.photo : pot.photo %>

  <div class="pot-image"
    style="background-image: url('<%= cl_image_path(pot_picture) %>')">
  </div>
    <!-- <div class="item-border-green">
      <%#= link_to "MY GARDEN", dashboard_path, class: "link-border-green link-flex-end item-border-green" %>
    </div> -->

  <div class="pot-info">
    <div class="pot-user-info">
      <div class="header">
        <h3><%= pot.name %></h3>
        <div class="about_the_pot">
          <p><i><%= pot.description %></i></p>
        </div>
          <% plant_name = pot.plant.name %>
          <%= link_to "Learn more about me", plant_path(pot.plant), class: " btn btn-minimal " %>
      </div>

      <div class="adoption-info">
        <% unless pot.adoption_date.nil? %>
          <p> ❤️ You adopted <%= pot.name %> on <%= pot.adoption_date.strftime("%b %d, %Y"); %></p>
        <% end %>
      </div>
      <!-- <div class="tabs">
        <a class="tab active" data-tab-name="tasks">
          <h3>Tasks</h3>
        </a>
        <a class="tab" data-tab-name="information">
          <h3>Information</h3>
        </a>
      </div>

      <div class="tabs-container">
        <div class="tab-tasks" data-target="tasks">

        </div>
        <div class="tab-information hidden" data-target="information">
        </div>
      </div> -->

      <div class="user-tasks inner-padding">
            <% if current_user.count_tasks > 0 %>
              <% Task::TASKS.each do |task_name| %>
                <div class="task-title-card">
                  <span class="task-title-badge">
                    <span class="span-paytone"><%= task_name.upcase %></span>
                    <div class="task-badge">
                      <%= render "shared/badge", task_name: task_name %>
                    </div>
                  </span>
                  <div class="task-title">
                    <%= render "shared/task_type", tasks: Task.includes(:pot).where(name: task_name, completed: false, pot: current_user.pots), task_name: task_name %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="item-border-green">
                <%= link_to "+ add a plant", new_pot_path, class: "link-border-green-item-border-green" %>
              </div>
            <% end %>
          </div>
      <%# unless pot.tasks.empty? %>
        <!-- <div class="pot-statistics">
          <%#= render "shared/follow_up", pot: pot %>
        </div> -->
      <%# end %>

      <div class="image-links">
        <% if current_user == pot.user %>
          <%= link_to pot_path(pot), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
          <% end %>
          <%= link_to edit_pot_path(pot) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
