<div class="pot-content">
  <% pot_picture = pot.photo.url.nil? ? pot.plant.photo : pot.photo %>
  <div class="pot-image"
    style="background-image: url('<%= cl_image_path(pot_picture) %>')">
  </div>
  <div class="pot-info">
    <div class="pot-user-info">
      <div class="header">
        <h3><%= pot.name.capitalize %></h3>
        <div class="about_the_pot">
          <p><i><%= pot.description %></i></p>
        </div>
        <%= link_to "Learn more", plant_path(pot.plant), class: "btn btn-minimal "%>
      </div>
      <div class="border-top">
      </div>
      <div class="recap">
        <div class="recap-item">
          <%= image_tag "adoption.png" %>
          <% unless pot.adoption_date.nil? %>
            <p> You adopted <%= pot.name %> on <%= pot.adoption_date.strftime("%B %d, %Y"); %></p>
          <% end %>
        </div>
        <div class="recap-item">
          <%= image_tag "cactus-family.png" %>
          <p><%= pot.name.capitalize %> belongs to the family of <%= pot.plant.name.capitalize %></p>
        </div>
        <div class="recap-item">
          <%= image_tag "care.png" %>
          <% if pot.tasks.where(completed: true).count > 0 %>
            <p>You took care of <%= pot.name.capitalize %> <%= pluralize pot.tasks.where(completed: true).count, "time" %> since you met</p>
          <% else %>
          <p>You never took care of <%= pot.name.capitalize %> yet! </p>
          <% end %>
        </div>
        <!-- <div class="recap-item">

        </div> -->
      </div>
      <div class="follow-up-card recap">
        <% pot.tasks.last(4).each do |task| %>
          <div class="recap-item">
            <% unless task.nil? %>
              <div class="task-follow-up">
                <h5><%= task.name.capitalize %></h5>
                <div class="recap-big-item">
                  <div class="recap-small-item">
                    <p>Last</p>
                    <p><%= pot.send("last_#{task.name}").strftime("%B %d, %Y") %></p>
                  </div>
                  <div class="recap-small-item">
                    <p>Next</p>
                    <p><%= pot.next_task_date(task.name).strftime("%B %d, %Y") %></p>
                  </div>
                </div>
                <!-- <p><%#= pluralize pot.tasks.where(name: task.name).count, "time" %> since you met</p> -->
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="image-links">
        <% if current_user == pot.user %>
          <%= link_to pot_path(pot), method: :delete, data: { confirm: "Are you sure?" } do %>
            <p><%= pot.name.capitalize %> is estimated dead</p>
          <% end %>
          <%= link_to edit_pot_path(pot) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

   <!-- <div class="item-border-green">
      <%#= link_to "MY GARDEN", dashboard_path, class: "link-border-green link-flex-end item-border-green" %>
    </div> -->

     <%# unless pot.tasks.empty? %>
        <!-- <div class="pot-statistics">
          <%#= render "shared/follow_up", pot: pot %>
        </div> -->
      <%# end %>
