<div class="pot-content">
  <% pot_picture = pot.photo.url.nil? ? pot.plant.photo : pot.photo %>
  <div class="pot-image"
    style="background-image: url('<%= cl_image_path(pot_picture) %>')">
  </div>
  <div class="pot-info">
    <div class="pot-user-info">
      <div class="header">
        <h3><%= pot.name.capitalize %></h3>
        <%= link_to "Learn more", plant_path(pot.plant), class: "btn btn-minimal "%>
      </div>
      <div class="about_the_pot">
          <p><i><%= pot.description %></i></p>
        </div>
      <div class="border-top">
      </div>
      <div class="recap">
        <div class="recap-item border-right">
          <% unless pot.adoption_date.nil? %>
          <p class="recap-item-p"> You adopted <strong><%= pot.name.capitalize %></strong> on <%= pot.adoption_date.strftime("%B %d, %Y"); %></p>
          <div class="points">
            <%= image_tag "adoption.png", size: 50, class: "icons" %>
          </div>
          <% end %>
        </div>
        <div class="recap-item border-right">
          <p class="recap-item-p"><strong><%= pot.name.capitalize %></strong> belongs to the family of <%= pot.plant.name.capitalize %></p>
          <div class="points">
            <%= image_tag "cactus-family.png", size: 50, class: "icons" %>
          </div>
        </div>
        <div class="recap-item">
          <% if pot.tasks.where(completed: true).count > 0 %>
            <p>You took care of <strong><%= pot.name.capitalize %></strong> <%= pluralize pot.tasks.where(completed: true).count, "time" %> since you met</p>
          <% else %>
          <p>You never took care of <%= pot.name.capitalize %> yet! </p>
          <% end %>
          <div class="points">
            <%= image_tag "care.png",  size: 50, class: "icons" %>
          </div>
        </div>
        <!-- <div class="recap-item">

        </div> -->
      </div>
      <div class="border-top-small">
      </div>
      <%= render "shared/follow_up", pot: pot %>
      <div class="image-links">
        <%#if current_user == pot.user %>
          <%#= link_to pot_path(pot), method: :delete, data: { confirm: "Are you sure?" } do %>
            <!-- <p><%#= pot.name.capitalize %> died ... 👼 </p>
          <%# end %> -->
          <%#= link_to edit_pot_path(pot) do %>
<!--             <i class="fas fa-cog"></i>
 -->          <%# end %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="item-border-green">
      <%#= link_to "MY GARDEN", dashboard_path, class: "link-border-green link-flex-end item-border-green" %>
    </div> -->

     <%# unless pot.tasks.empty? %>
        <!-- <div class="pot-statistics">
          <%#= render "shared/follow_up", pot: pot %>
        </div> -->
      <%# end %>
