<div class="pot-content">
  <% pot_picture = pot.photo.url.nil? ? pot.plant.photo : pot.photo %>

  <div class="pot-image"
    style="background-image: url('<%= cl_image_path(pot_picture) %>')">
  </div>
    <!-- <div class="item-border-green">
      <%#= link_to "MY GARDEN", dashboard_path, class: "link-border-green link-flex-end item-border-green" %>
    </div> -->

  <div class="pot-info">
    <div class="pot-user-info">
      <div class="header">
        <h3><%= pot.name.capitalize %></h3>
        <div class="about_the_pot">
          <p><i><%= pot.description %></i></p>
        </div>
         <%= link_to "Learn more", plant_path(pot.plant), class: "btn btn-minimal "%>
      </div>
      <div class="border-top">
      </div>

      <div class="row recap">
        <div class="col-xs-12 col-md-4 background-white">
          <div class="adoption-info">
            <% unless pot.adoption_date.nil? %>
              <p> You adopted <%= pot.name %> on <%= pot.adoption_date.strftime("%b %d, %Y"); %></p>
            <% end %>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 background-white">
          <p><%= pot.name.capitalize %> is a <%= pot.plant.name.capitalize %></p>
        </div>
        <div class="col-xs-6 col-md-4 background-white">
          <% if pot.tasks.where(completed: true).count > 0 %>
            <h4>You took care of <%= pot.name %> <%= pluralize pot.tasks.where(completed: true).count, "time" %> since you met 😘</h4>
          <% end %>
        </div>
      </div>


      <% unless pot.tasks.empty? %>
        <div class="pot-statistics">
          <%= render "shared/follow_up", pot: pot %>
        </div>
      <% end %>
      <div class="image-links">
        <% if current_user == pot.user %>
          <%= link_to pot_path(pot), method: :delete, data: { confirm: "Are you sure?" } do %>
            <p><%= pot.name.capitalize %> is estimated dead</p>
          <% end %>
          <%= link_to edit_pot_path(pot) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
