<div class="wrapper wrapper-plant">
  <div class="container pot">
    <div class="pot-content">
      <div class="pot-image" style="background-image: url('<%= @pot.photo %>')">
      </div>
      <div class="pot-info">
        <h3><%= @pot.name %></h3>
        <p>Description: <%= @pot.description %></p>
        <p>Size: <%= @pot.size %> cm</p>
        <p>Family: <%= @pot.plant.name %></p>
        <p>You adopted <%= @pot.name %> on <%= @pot.adoption_date %> </p>
        
        <%= link_to "Back to your pots", pots_path, class: "link-black" %>
        <div class="pot-tasks">
          <% if @watering %>
            <p>You need to water <%= @pot.name %></p>
            <%= simple_form_for(@watering, :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
              <%= f.input :completed %>
            <% end %>
          <% end %>
          <% if @cutting %>
            <p>You need to cut <%= @pot.name %></p>
            <%= simple_form_for(@cutting, :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
              <%= f.input :completed %>
            <% end %>
          <% end %>
          <% if @fertilizing %>
            <p>You need to fertilize <%= @pot.name %></p>
            <%= simple_form_for(@fertilizing, :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
              <%= f.input :completed %>
            <% end %>
          <% end %>
          <% if @potting %>
            <p>You need to pot <%= @pot.name %></p>
            <%= simple_form_for(@potting, :defaults => { :input_html => { :class => "sweet-alert-demo" } }, remote: true) do |f| %>
              <%= f.input :completed %>
            <% end %>
          <% end %>
        </div>
        
        <%= link_to "Back to my dashboard", dashboard_path, class: "link-black" %>
        <%= render "shared/task", element: @pot %>

      </div>
    </div>
  </div>
</div>

