<div class="container">
<h2>Welcome to plants index</h2>
  <div class="plants">
    <%= @plants.each do |plant| %>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <%= plant.name %>
          <%= plant.category %>
          <%= plant.description %>
          <%= plant.photo %>
        </div>
      </div>
    <% end %>
  </div>
</div>
